<div class="container">
  <div class="row mt-5" style="height: 500px;">
    <div class="col"></div>
    <div class="col-md-6">
      <h2 class="mt-2 mb-2 rounded">TO DO LIST</h2>

      <div>
        <div class="input-group mt-2 mb-2 ">
          <input type="text" class="form-control" placeholder="Nova tarefa..." name="task" [(ngModel)]="newTaskValue" (keyup.enter)="addTask()">
          <button class="add-button btn btn-secondary" type="button" (click)="addTask()">
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>
      </div>

      <div class="bg-light rounded" style="overflow-y:auto; height: 70vh">
        <div class="m-3" *ngFor="let task of taskArr">
          <div class="p-2 shadow">
            <div class="align-items-center input-group row ps-3">
              <input type="checkbox" class="col" [(ngModel)]="task.checked" (click)="editCheckbox(task)">
              <p class="col-8 m-0" [ngClass]="{'checked':task.checked}">{{task.name}}</p>
              <button class="btn col" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="callModal(task)">
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
              <button class="btn col" (click)="deleteTask(task)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Editar tarefa</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="input-group mb-3 ">
                <input type="text" class="form-control" name="task" [(ngModel)]="editTaskValue">
                <button class="add-button btn btn-outline-secondary" type="button" data-bs-dismiss="modal" (click)="editTask()">
                  <i class="fa-regular fa-pen-to-square"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
